if pageUrl == '/'
	- var ogptype = 'website'
else
	- var ogptype = 'article'
head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + ogptype + ": http://ogp.me/ns/" + ogptype + "#")
	//#include virtual="/_inc/gtm_head.html"
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title #{meta[pageUrl].title}
	//#include virtual="/_inc/head_meta_name.html"
	meta(name="description" content=meta[pageUrl].description)
	meta(property="og:title" content=meta[pageUrl].title)
	meta(property="og:description" content=meta[pageUrl].description)
	meta(property="og:url" content=site.url + pageUrl)
	if meta[pageUrl].ogImage
		meta(property="og:image" content=meta[pageUrl].ogImage)
	else
		meta(property="og:image" content=site.url + site.ogImage)
	meta(property="og:type" content=ogptype)
	//#include virtual="/_inc/head_meta_property.html"
	//#include virtual="/_inc/head_link.html"
	block css

	script(type="application/ld+json")
		|{
		|	"@context": "http://schema.org",
		|	"@type": "BreadcrumbList",
		|	"itemListElement": [
		|		{
		|			"@type": "ListItem",
		|			"position": 1,
		|			"item": {
		|				"@id": "#{site.url}",
		|				"name": "HOME"
		|			}
		|		}
		|	]
		if layout != 'home' && layout != 'error'
			|},
			|{
			|	"@context": "http://schema.org",
			|	"@type": "BreadcrumbList",
			|	"itemListElement": [
			|		{
			|			"@type": "ListItem",
			|			"position": 2,
			|			"item": {
			|				"@id": "#{site.url + pageUrl}",
			|				"name": "#{meta[pageUrl].title}"
			|			}
			|		}
			|	]
		|
		|}
	